[env]
CARGO_MAKE_EXTEND_WORKSPACE_MAKEFILE = true

[config]
reduce_output = false
skip_core_tasks = true
default_to_workspace = false

[tasks.default]
alias = "run"

[tasks.version]
description = "Print the crate version"
category = "Tools"
script = ["echo Version: ${CARGO_MAKE_PROJECT_VERSION}"]

[tasks.clean]
description = "Clean up build artifacts"
category = "Development"
command = "cargo"
args = ["clean"]

[tasks.check-fmt]
description = "Check format"
category = "Development"
command = "cargo"
args = ["fmt", "--all", "--check"]

[tasks.lint-web]
description = "Lint TetaNES Web"
category = "Development"
command = "cargo"
args = ["clippy", "--locked", "--lib", "--bin", "tetanes", "--target", "wasm32-unknown-unknown", "--all-features", "--keep-going"]
dependencies = ["add-wasm-target"]

[tasks.lint]
description = "Lint TetaNES"
category = "Development"
command = "cargo"
args = ["clippy", "--locked", "--all-features", "--keep-going"]
dependencies = ["lint-web"]

[tasks.build]
description = "Build TetaNES"
category = "Build"
command = "cargo"
args = ["build", "-p", "tetanes", "--profile", "dist", "${@}"]

[tasks.build-artifacts]
description = "Build TetaNES Artifacts for a given target_arch"
category = "Build"
command = "cargo"
args = ["run", "--bin", "build_artifacts", "${@}"]

[tasks.build-cross]
description = "Cross-Build TetaNES for a given target_arch"
category = "Build"
command = "cross"
args = ["build", "-p", "tetanes", "--profile", "dist", "${@}"]

[tasks.bench]
description = "Benchmark TetaNES"
category = "Development"
command = "perf"
args = [
  "stat", "-x,", "-e",
  "cycles,instructions,cache-misses,cache-references,branch-misses,branches,L1-dcache-load-misses,L1-dcache-loads",
  "taskset", "-c", "0", "cargo", "bench", "--bench", "clock_frame", "${@}"
]

[tasks.test]
description = "Test TetaNES"
category = "Development"
command = "cargo"
args = ["nextest", "run", "--locked", "--all-features", "--no-fail-fast", "${@}"]

[tasks.bench-flamegraph]
description = "Benchmark TetaNES w/ Flamegraph"
category = "Development"
command = "cargo"
args = ["bench", "--profile", "flamegraph", "--bench", "clock_frame", "${@}", "--", "--profile-time", "60"]

[tasks.run]
description = "Run TetaNES in release mode"
category = "Development"
command = "cargo"
args = ["run", "-p", "tetanes", "--release", "${@}"]

[tasks.profile]
description = "Run TetaNES in release mode w/profiling"
category = "Development"
command = "cargo"
args = ["run", "-p", "tetanes", "--release", "--features", "profiling", "${@}"]

[tasks.dev]
description = "Run TetaNES in development mode"
category = "Development"
command = "cargo"
args = ["run", "-p", "tetanes", "${@}"]

[tasks.add-wasm-target]
description = "Add wasm target"
category = "Development"
command = "rustup"
args = ["target", "add", "wasm32-unknown-unknown"]

[tasks.build-web]
description = "Build TetaNES Web"
category = "Build"
command = "trunk"
args = ["build", "--config", "tetanes/Cargo.toml", "--release", "--dist", "dist/web", "--public-url", "./"]
dependencies = ["add-wasm-target"]

[tasks.docs-web]
description = "Document TetaNES Web"
category = "Documentation"
command = "cargo"
args = ["doc", "--locked", "--no-deps", "--document-private-items", "--lib", "--target", "wasm32-unknown-unknown", "--all-features", "--keep-going"]
dependencies = ["add-wasm-target"]

[tasks.docs]
description = "Document TetaNES"
category = "Documentation"
command = "cargo"
args = ["doc", "--locked", "--no-deps", "--document-private-items", "--all-features", "--workspace", "--keep-going"]
dependencies = ["docs-web"]

[tasks.run-web]
description = "Run TetaNES Web in release mode"
category = "Development"
command = "trunk"
args = ["serve", "--release", "--config", "tetanes/Cargo.toml", "--address", "0.0.0.0"]
dependencies = ["add-wasm-target"]

[tasks.profile-web]
description = "Run TetaNES Web in release mode w/profiling"
category = "Development"
command = "trunk"
args = ["serve", "--release", "--features", "profiling", "--config", "tetanes/Cargo.toml", "--address", "0.0.0.0"]
dependencies = ["add-wasm-target"]

[tasks.dev-web]
description = "Run TetaNES Web in development mode"
category = "Development"
command = "trunk"
args = ["serve", "--config", "tetanes/Cargo.toml", "--address", "0.0.0.0"]
dependencies = ["add-wasm-target"]
