[package]
name = "tetanes"
version.workspace = true
rust-version.workspace = true
edition.workspace = true
license.workspace = true
description = "A NES Emulator written in Rust with WebAssembly support"
authors.workspace = true
readme.workspace = true
documentation.workspace = true
repository.workspace = true
homepage.workspace = true
categories = ["emulators", "wasm"]
keywords = ["nes", "emulator", "wasm"]
exclude = ["/bin"]
default-run = "tetanes"

[[bin]]
name = "tetanes"
test = false
bench = false

[lints.clippy]
all = "warn"
missing_const_for_fn = "warn"
print_literal = "warn"

[lints.rust]
future_incompatible = "warn"
nonstandard_style = "warn"
rust_2018_compatibility = "warn"
rust_2018_idioms = "warn"
rust_2021_compatibility = "warn"
unused = "warn"

[package.metadata.docs.rs]
rustc-args = ["--cfg=web_sys_unstable_apis"]
targets = ["wasm32-unknown-unknown"]

[features]
default = ["tetanes-core/cycle-accurate"]
profiling = ["tetanes-core/profiling", "dep:puffin", "dep:puffin_egui"]
cycle-accurate = []

[dependencies]
anyhow.workspace = true
bincode.workspace = true
bytemuck = "1.15"
cfg-if.workspace = true
clap.workspace = true
crossbeam = "0.8"
# TODO: Remove once https://github.com/emilk/egui/pull/4372 is released
color-hex = "0.2"
dirs.workspace = true
egui = { version = "0.27", features = ["extra_debug_asserts", "log"] }
egui-wgpu = { version = "0.27", features = ["winit", "wayland", "x11"] }
egui_extras = { version = "0.27", default-features = false, features = [
  "image",
] }
gilrs = { version = "0.10", features = ["serde-serialize"] }
hound = "3.5"
image.workspace = true
parking_lot = "0.12"
puffin_egui = { version = "0.27", optional = true }
rfd = "0.13"
ringbuf = "0.3"
serde.workspace = true
serde_json.workspace = true
sysinfo = "0.30"
tetanes-core = { version = "0.10", path = "../tetanes-core" }
thingbuf = "0.1"
thiserror.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true
tracing-appender = "0.2"
uuid = { version = "1.8", features = ["v4", "fast-rng", "serde"] }
winit = { version = "0.29", features = ["serde"] }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
cpal = "0.15"
chrono = { version = "0.4", default-features = false, features = ["clock"] }
egui-winit = "0.27"
pollster = "0.3"
puffin = { workspace = true, optional = true }
wgpu = "0.19"

[target.'cfg(target_arch = "wasm32")'.dependencies]
chrono = { version = "0.4", default-features = false, features = [
  "clock",
  "wasmbind",
] }
console_error_panic_hook = "0.1"
cpal = { version = "0.15", features = ["wasm-bindgen"] }
egui-winit = { version = "0.27", default-features = false, features = [
  "links",
] }
# Required because of downstream dependencies: https://docs.rs/getrandom/latest/getrandom/#webassembly-support
getrandom = { version = "0.2", features = ["js"] }
puffin = { workspace = true, features = ["web"], optional = true }
tracing-web = "0.1"
wgpu = { version = "0.19", features = ["webgl"] }
web-sys = { version = "0.3", features = [
  "Blob",
  "Document",
  "DomTokenList",
  "Element",
  "File",
  "FileList",
  "FileReader",
  "HtmlCanvasElement",
  "HtmlElement",
  "HtmlInputElement",
  "Window",
] }
wasm-bindgen = "0.2"
wasm-bindgen-futures = "0.4"
