<?xml version='1.0' encoding='windows-1252'?>
<!--
  Copyright (C) 2017 Christopher R. Field.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<!--
  The "cargo wix" subcommand provides a variety of predefined variables available
  for customization of this template. The values for each variable are set at
  installer creation time. The following variables are available:

  TargetTriple      = The rustc target triple name.
  TargetEnv         = The rustc target environment. This is typically either
                      "msvc" or "gnu" depending on the toolchain downloaded and
                      installed.
  TargetVendor      = The rustc target vendor. This is typically "pc", but Rust
                      does support other vendors, like "uwp".
  CargoTargetBinDir = The complete path to the directory containing the
                      binaries (exes) to include. The default would be
                      "target\release\". If an explicit rustc target triple is
                      used, i.e. cross-compiling, then the default path would
                      be "target\<CARGO_TARGET>\<CARGO_PROFILE>",
                      where "<CARGO_TARGET>" is replaced with the "CargoTarget"
                      variable value and "<CARGO_PROFILE>" is replaced with the
                      value from the "CargoProfile" variable. This can also
                      be overriden manually with tne "target-bin-dir" flag.
  CargoTargetDir    = The path to the directory for the build artifacts, i.e.
                      "target".
  CargoProfile      = The cargo profile used to build the binaries
                      (usually "debug" or "release").
  Version           = The version for the installer. The default is the
                      "Major.Minor.Fix" semantic versioning number of the Rust
                      package.
-->

<!--
  Please do not remove these pre-processor If-Else blocks. These are used with
  the `cargo wix` subcommand to automatically determine the installation
  destination for 32-bit versus 64-bit installers. Removal of these lines will
  cause installation errors.
-->
<?if $(sys.BUILDARCH) = x64 or $(sys.BUILDARCH) = arm64 ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

    <Product
        Id='*'
        Name='TetaNES'
        UpgradeCode='DB76CEB0-15B8-4727-9C3E-55819AB5E7B9'
        Manufacturer='Luke Petherbridge'
        Language='1033'
        Codepage='1252'
        Version='$(var.Version)'>

        <Package Id='*'
            Keywords='Installer'
            Description='A NES Emulator written in Rust with SDL2 and WebAssembly support'
            Manufacturer='Luke Petherbridge'
            InstallerVersion='450'
            Languages='1033'
            Compressed='yes'
            InstallScope='perMachine'
            SummaryCodepage='1252'
            />

        <MajorUpgrade
            Schedule='afterInstallInitialize'
            DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.'/>

        <Media Id='1' Cabinet='tetanes.cab' EmbedCab='yes'/>
        <Property Id='DiskPrompt' Value='TetaNES Installation'/>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='$(var.PlatformProgramFilesFolder)' Name='PFiles'>
                <Directory Id='APPLICATIONFOLDER' Name='TetaNES'>
                    <Component Id='Path' Guid='5731AE63-80DE-4CD7-ADFA-9E79BEDCE08B' KeyPath='yes'>
                        <Environment
                            Id='PATH'
                            Name='PATH'
                            Value='[Bin]'
                            Permanent='no'
                            Part='last'
                            Action='set'
                            System='yes'/>
                    </Component>
                    <Component Id='TetaNES.exe' Guid='70d7d0a6-3208-430d-896c-a9116cfcbeb9'>
                        <File
                            Id='TetaNES.exe'
                            Name='TetaNES.exe'
                            DiskId='1'
                            Source='$(var.CargoTargetBinDir)\tetanes.exe'
                            KeyPath='yes'
                            Checksum='yes'/>
                    </Component>
                    <Component Id='libFLAC_8.dll' Guid='D6099F00-ED16-40C0-8455-68B54102D2DB'>
                        <File Id='libFLAC_8.dll' Source='.\lib\msvc\dll\64\libFLAC-8.dll' KeyPath='yes'/>
                    </Component>
                    <Component Id='SDL2.lib' Guid='38db74ed-4c97-4026-a4a2-ed27bccef1c7'>
                        <File Id='SDL2.lib' Source='.\lib\msvc\lib\64\SDL2.lib' KeyPath='yes'/>
                    </Component>
                    <Component Id='SDL2_gfx.lib' Guid='1e3671f8-5778-432e-99a9-118274d8ac45'>
                        <File Id='SDL2_gfx.lib' Source='.\lib\msvc\lib\64\SDL2_gfx.lib' KeyPath='yes'/>
                    </Component>
                    <Component Id='SDL2_image.lib' Guid='d7b48cab-5525-4658-984e-fb006bc791ce'>
                        <File Id='SDL2_image.lib' Source='.\lib\msvc\lib\64\SDL2_image.lib' KeyPath='yes'/>
                    </Component>
                    <Component Id='SDL2_mixer.lib' Guid='1679090d-d4a6-46f3-82ff-0668533a641d'>
                        <File Id='SDL2_mixer.lib' Source='.\lib\msvc\lib\64\SDL2_mixer.lib' KeyPath='yes'/>
                    </Component>
                    <Component Id='SDL2_ttf.lib' Guid='1bf78686-e158-4e9a-a97e-6f3777f24b2d'>
                        <File Id='SDL2_ttf.lib' Source='.\lib\msvc\lib\64\SDL2_ttf.lib' KeyPath='yes'/>
                    </Component>
                    <Component Id='SDL2main.lib' Guid='f18008a5-e614-4e16-abe7-7e1aa5b109c6'>
                        <File Id='SDL2main.lib' Source='.\lib\msvc\lib\64\SDL2main.lib' KeyPath='yes'/>
                    </Component>
                    <Component Id='SDL2test.lib' Guid='13077e63-978c-419f-823b-bb51c8a19d89'>
                        <File Id='SDL2test.lib' Source='.\lib\msvc\lib\64\SDL2test.lib' KeyPath='yes'/>
                    </Component>
                    <Component Id='libjpeg_9.dll' Guid='9ff0ea62-9db4-4948-a3f1-44f59d32b89d'>
                        <File Id='libjpeg_9.dll' Source='.\lib\msvc\dll\64\libjpeg-9.dll' KeyPath='yes'/>
                    </Component>
                    <Component Id='libmodplug_1.dll' Guid='35650f65-65af-4335-abd9-dea6d9d7247a'>
                        <File Id='libmodplug_1.dll' Source='.\lib\msvc\dll\64\libmodplug-1.dll' KeyPath='yes'/>
                    </Component>
                    <Component Id='libmpg123_0.dll' Guid='3fa05141-ad15-445c-80c3-359b7bd44e97'>
                        <File Id='libmpg123_0.dll' Source='.\lib\msvc\dll\64\libmpg123-0.dll' KeyPath='yes'/>
                    </Component>
                    <Component Id='libogg_0.dll' Guid='20bcf2e3-2e52-4a09-a15c-17f5b1d8ded7'>
                        <File Id='libogg_0.dll' Source='.\lib\msvc\dll\64\libogg-0.dll' KeyPath='yes'/>
                    </Component>
                    <Component Id='libopus_0.dll' Guid='e66a9db4-1e34-4160-9f75-31209cccc922'>
                        <File Id='libopus_0.dll' Source='.\lib\msvc\dll\64\libopus-0.dll' KeyPath='yes'/>
                    </Component>
                    <Component Id='libopusfile_0.dll' Guid='cc57ebdc-0662-449f-9ff0-3412b564375e'>
                        <File Id='libopusfile_0.dll' Source='.\lib\msvc\dll\64\libopusfile-0.dll' KeyPath='yes'/>
                    </Component>
                    <Component Id='libpng16_16.dll' Guid='363d6c90-d1a4-4a3b-8792-0de6625b7369'>
                        <File Id='libpng16_16.dll' Source='.\lib\msvc\dll\64\libpng16-16.dll' KeyPath='yes'/>
                    </Component>
                    <Component Id='libtiff_5.dll' Guid='df506b22-3de3-431e-953f-84557b019a83'>
                        <File Id='libtiff_5.dll' Source='.\lib\msvc\dll\64\libtiff-5.dll' KeyPath='yes'/>
                    </Component>
                    <Component Id='libvorbis_0.dll' Guid='2c0bef62-1998-4864-96ba-049e096b0658'>
                        <File Id='libvorbis_0.dll' Source='.\lib\msvc\dll\64\libvorbis-0.dll' KeyPath='yes'/>
                    </Component>
                    <Component Id='libvorbisfile_3.dll' Guid='a18d5d80-d51b-4a6a-a5a7-ade41f8d57d8'>
                        <File Id='libvorbisfile_3.dll' Source='.\lib\msvc\dll\64\libvorbisfile-3.dll' KeyPath='yes'/>
                    </Component>
                    <Component Id='libwebp_7.dll' Guid='2b78de86-61b2-4ed9-a4ed-5d0a1a895fa6'>
                        <File Id='libwebp_7.dll' Source='.\lib\msvc\dll\64\libwebp-7.dll' KeyPath='yes'/>
                    </Component>
                    <Component Id='SDL2.dll' Guid='ac2a23f5-a17b-4ec7-ae3c-98b079d665b5'>
                        <File Id='SDL2.dll' Source='.\lib\msvc\dll\64\SDL2.dll' KeyPath='yes'/>
                    </Component>
                    <Component Id='SDL2_gfx.dll' Guid='5cc85256-0b03-4ae8-92ad-8442ad36485b'>
                        <File Id='SDL2_gfx.dll' Source='.\lib\msvc\dll\64\SDL2_gfx.dll' KeyPath='yes'/>
                    </Component>
                    <Component Id='SDL2_image.dll' Guid='20dc9c0b-5767-4548-9bf6-096f921e45f6'>
                        <File Id='SDL2_image.dll' Source='.\lib\msvc\dll\64\SDL2_image.dll' KeyPath='yes'/>
                    </Component>
                    <Component Id='SDL2_mixer.dll' Guid='61cff165-790d-4084-9db6-99a5ec5a8930'>
                        <File Id='SDL2_mixer.dll' Source='.\lib\msvc\dll\64\SDL2_mixer.dll' KeyPath='yes'/>
                    </Component>
                    <Component Id='SDL2_ttf.d' Guid='871F2130-A8B3-4B28-9C5B-3D35174EF913'>
                        <File Id='SDL2_ttf.d' Source='.\lib\msvc\dll\64\SDL2_ttf.dll' KeyPath='yes'/>
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <Feature
            Id='Application'
            Title='Application'
            Description='Installs the [ProductName] executable and SDL2 dependencies.'
            Level='1'
            ConfigurableDirectory='APPLICATIONFOLDER'
            AllowAdvertise='no'
            Display='expand'
            Absent='disallow'>

            <ComponentRef Id='TetaNES.exe'/>
            <ComponentRef Id='libFLAC_8.dll'/>
            <ComponentRef Id='SDL2.lib'/>
            <ComponentRef Id='SDL2_gfx.lib'/>
            <ComponentRef Id='SDL2_image.lib'/>
            <ComponentRef Id='SDL2_mixer.lib'/>
            <ComponentRef Id='SDL2_ttf.lib'/>
            <ComponentRef Id='SDL2main.lib'/>
            <ComponentRef Id='SDL2test.lib'/>
            <ComponentRef Id='libjpeg_9.dll'/>
            <ComponentRef Id='libmodplug_1.dll'/>
            <ComponentRef Id='libmpg123_0.dll'/>
            <ComponentRef Id='libogg_0.dll'/>
            <ComponentRef Id='libopus_0.dll'/>
            <ComponentRef Id='libopusfile_0.dll'/>
            <ComponentRef Id='libpng16_16.dll'/>
            <ComponentRef Id='libtiff_5.dll'/>
            <ComponentRef Id='libvorbis_0.dll'/>
            <ComponentRef Id='libvorbisfile_3.dll'/>
            <ComponentRef Id='libwebp_7.dll'/>
            <ComponentRef Id='SDL2.dll'/>
            <ComponentRef Id='SDL2_gfx.dll'/>
            <ComponentRef Id='SDL2_image.dll'/>
            <ComponentRef Id='SDL2_mixer.dll'/>
            <ComponentRef Id='SDL2_ttf.d'/>

            <Feature
                Id='Environment'
                Title='PATH Environment Variable'
                Description='Add the install location of [ProductName] to the PATH system environment variable. This allows [ProductName] to be called from any location.'
                Level='1'
                Absent='allow'>
                <ComponentRef Id='Path'/>
            </Feature>
        </Feature>

        <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>
        <Property Id='WIXUI_INSTALLDIR' Value='APPLICATIONFOLDER' />

        <Icon Id='ProductICO' SourceFile='.\assets\tetanes_icon.ico'/>
        <Property Id='ARPPRODUCTICON' Value='ProductICO' />
        <Property Id='ARPHELPLINK' Value='https://docs.rs/tetanes'/>
        <!-- The banner BMP dimensions are 493 x 58 pixels. -->
        <WixVariable Id='WixUIBannerBmp' Value='.\assets\tetanes_banner.bmp'/>
        <!-- The dialog BMP dimensions are 493 x 312 pixels. -->
        <WixVariable Id='WixUIDialogBmp' Value='.\assets\tetanes_dialog.bmp'/>

        <UI>
            <UIRef Id='WixUI_InstallDir'/>
            <Publish Dialog='WelcomeDlg' Control='Next' Event='NewDialog' Value='InstallDirDlg' Order='99'>1</Publish>
            <Publish Dialog='ExitDialog' Control='Finish' Event='DoAction' Value='LaunchApplication' Order='99'>WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
        </UI>
        <Property Id='WIXUI_EXITDIALOGOPTIONALTEXT' Value='Have fun gaming!' />
        <Property Id='WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT' Value='Launch TetaNES' />
        <Property Id='WixShellExecTarget' Value='[#TetaNES.exe]' />
        <CustomAction Id='LaunchApplication' BinaryKey='WixCA' DllEntry='WixShellExec' Impersonate='yes' />
    </Product>

</Wix>
