@font-face {
  font-family: "Pixeloid Sans";
  src:
    local("Pixeloid Sans"),
    url("./pixeloid-sans.ttf") format("truetype");
}
@font-face {
  font-family: "Pixeloid Sans Bold";
  src:
    local("Pixeloid Sans Bold"),
    url("./pixeloid-sans-bold.ttf") format("truetype");
}

body {
  --color: #e6b673;
  --heading: #a9491f;
  --background: #0f1419;
  background-color: var(--background);
  max-width: 80%;
  margin: auto;
  margin-bottom: 100px;
  color: var(--color);
  font-family: "Pixeloid Sans", "Courier New", Courier, monospace;
}

h1 {
  color: var(--heading);
  font-family: "Pixeloid Sans Bold", "Courier New", Courier, monospace;
  margin-top: 80px;
  margin-bottom: 40px;
  line-height: 0.5;
  text-align: center;
}

h1 span {
  color: var(--color);
  font-family: "Pixeloid Sans", "Courier New", Courier, monospace;
  font-size: 0.8rem;
}

h2 {
  color: var(--heading);
  font-family: "Pixeloid Sans Bold", "Courier New", Courier, monospace;
  text-align: center;
  margin-top: 40px;
}

p {
  font-size: 0.9rem;
  max-width: 70ch;
  margin: 15px 0;
}

table {
  --color: #333;
  border-collapse: separate;
  border-color: var(--color);
  border-spacing: 0;
  border: 0.5px solid var(--color);
  text-align: left;
  width: 100%;
}

th {
  color: var(--heading);
}

th,
td {
  padding: 5px;
  border: 0.5px solid var(--color);
}

a {
  color: #36a3d9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

canvas {
  width: fit-content;
  height: fit-content;
  outline: none;
}

#wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

#content {
  max-width: 70ch;
  margin: auto;
}

.hidden {
  display: none !important;
}
.absolute {
  position: absolute;
}

#loading-status {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 880px;
  height: 696px;
  border: 2px dotted #e6b673;
  margin: 0;
}

.loader {
  border: 4px solid #e6b673;
  border-top: 4px solid #a9491f;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  margin: 8px;
  animation: spin 2s linear infinite;
}

#error {
  color: #ff3333;
  text-align: center;
  margin: auto;
}

.version-download {
  position: relative;
  width: max-content;
  margin: auto;
}

.version-download div {
  width: 100%;
}

.version-download a {
  display: block;
  padding: 0.8rem;
  background: #14191f;
  color: #a9491f;
  font-family: "Pixeloid Sans Bold", "Courier New", Courier, monospace;
}

.version-download a:hover {
  background: #212733;
  text-decoration: none;
  cursor: pointer;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
