---
name: CD

# yamllint disable-line rule:truthy
on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      tag:
        description: "Release tag"
        required: true
        type: string
      os:
        description: "Target platform"
        required: true
        type: choice
        options:
          - all
          - linux
          - macos
          - windows
          - web

permissions:
  contents: write

env:
  # Unnecessary for CI and just pollutes cache
  CARGO_INCREMENTAL: 0
  # Remove debug symbols, substantially reduces cache size
  CARGO_PROFILE_DEV_DEBUG: 0
  CARGO_PROFILE_TEST_DEBUG: 0
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1

jobs:
  build-linux:
    name: Build Linux Artifacts (${{ matrix.target }})
    if: >
      ((startsWith(github.event.release.name, 'tetanes')
        && !startsWith(github.event.release.name, 'tetanes-core'))
      || inputs.tag)
      && (inputs.os == 'all' || inputs.os == 'linux')
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
          # TODO: aarch64 linux having trouble with docker in CI
          # - target: aarch64-unknown-linux-gnu
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
      - uses: Swatinem/rust-cache@v2
      - uses: baptiste0928/cargo-install@v3
        with:
          crate: cross
          git: https://github.com/cross-rs/cross
          commit: 19bc73f
      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-make,cargo-deb
      - run: |
          sudo apt update
          sudo apt install -y libudev-dev libasound2-dev libssl-dev libfuse2
      - if: startsWith(matrix.target, 'x86_64')
        run: |
          time cargo make build-artifacts -- --target ${{ matrix.target }}
      # aarch64 requires cross building
      - if: startsWith(matrix.target, 'aarch64')
        run: |
          export CROSS_CONTAINER_IN_CONTAINER=true
          time cargo make build-artifacts -- --target ${{ matrix.target }} --cross
      - if: success()
        uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.target }}-artifacts
          path: tetanes/dist/
  build-macos:
    name: Build macOS Artifacts (${{ matrix.target }})
    if: >
      ((startsWith(github.event.release.name, 'tetanes')
        && !startsWith(github.event.release.name, 'tetanes-core'))
      || inputs.tag)
      && (inputs.os == 'all' || inputs.os == 'macos')
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: x86_64-apple-darwin
          - target: aarch64-apple-darwin
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
      - uses: Swatinem/rust-cache@v2
      - uses: taiki-e/setup-cross-toolchain-action@v1
        with:
          target: ${{ matrix.target }}
      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-make
      - run: |
          time cargo make build-artifacts -- --target ${{ matrix.target }}
      - if: success()
        uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.target }}-artifacts
          path: tetanes/dist/
  build-windows:
    name: Build Windows Artifacts (${{ matrix.target }})
    if: >
      ((startsWith(github.event.release.name, 'tetanes')
        && !startsWith(github.event.release.name, 'tetanes-core'))
      || inputs.tag)
      && (inputs.os == 'all' || inputs.os == 'windows')
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: x86_64-pc-windows-msvc
          # TODO: windows aarch64
          # - target: aarch64-pc-windows-msvc
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
      - uses: Swatinem/rust-cache@v2
      - uses: taiki-e/setup-cross-toolchain-action@v1
        with:
          target: ${{ matrix.target }}
      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-make,cargo-wix
      - if: startsWith(matrix.target, 'x86_64')
        run: |
          time cargo make build-artifacts -- --target ${{ matrix.target }}
      - if: success()
        uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.target }}-artifacts
          path: tetanes/dist/
  build-web:
    name: Build Web Artifacts (wasm32-unknown-unknown)
    if: >
      ((startsWith(github.event.release.name, 'tetanes')
        && !startsWith(github.event.release.name, 'tetanes-core'))
      || inputs.tag)
      && (inputs.os == 'all' || inputs.os == 'web')
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
          targets: wasm32-unknown-unknown
      - uses: Swatinem/rust-cache@v2
      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-make,trunk
      - run: |
          sudo apt update
          sudo apt install -y libudev-dev libasound2-dev libssl-dev libfuse2
      - run: |
          time cargo make build-artifacts -- --target wasm32-unknown-unknown
      - if: success()
        uses: actions/upload-artifact@v6
        with:
          name: wasm32-unknown-unknown-artifacts
          path: tetanes/dist/
  upload-artifacts:
    name: Attach Release Artifacts
    runs-on: ubuntu-latest
    needs: [build-linux, build-macos, build-windows, build-web]
    if: |
      always() && contains(needs.*.result, 'success')
    steps:
      - uses: actions/download-artifact@v8
        with:
          path: artifacts
          merge-multiple: true
      - env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release upload ${{ github.event.release.tag_name || inputs.tag }} artifacts/* --clobber
  update-tetanes-web:
    name: Update TetaNES Web
    needs: build-web
    runs-on: ubuntu-latest
    env:
      RELEASE_TAG: ${{ github.event.release.tag_name || inputs.tag }}
    steps:
      - uses: actions/checkout@v6
        with:
          repository: "lukexor/lukeworks"
          token: ${{ secrets.REPOS }}
      - uses: actions/download-artifact@v8
        with:
          path: artifacts
          pattern: "wasm32-unknown-unknown-artifacts"
      - id: commit
        run: |
          rm -f web/public/tetanes-web/*
          tar -xzf artifacts/*.tar.gz -C web/public/tetanes-web/
          VERSION=${RELEASE_TAG#"tetanes-v"}
          echo "version=${VERSION}" >> "$GITHUB_OUTPUT"
      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          file_pattern: "web/public/tetanes-web/*"
          commit_message: Updated TetaNES Web v${{ steps.commit.outputs.version }}
  update-homebrew-formula:
    name: Update Homebrew Formula
    needs: build-macos
    runs-on: ubuntu-latest
    env:
      RELEASE_TAG: ${{ github.event.release.tag_name || inputs.tag }}
    steps:
      - uses: actions/checkout@v6
        with:
          repository: "lukexor/homebrew-formulae"
          token: ${{ secrets.REPOS }}
      - uses: actions/download-artifact@v8
        with:
          path: artifacts
          pattern: "*-apple-darwin-artifacts"
          merge-multiple: true
      - id: commit
        run: |
          x86_64_SHA=$(cat artifacts/*-x86_64-apple-darwin.tar.gz-sha256.txt | awk '{ print $1 }')
          aarch64_SHA=$(cat artifacts/*-aarch64-apple-darwin.tar.gz-sha256.txt | awk '{ print $1 }')
          VERSION=${RELEASE_TAG#"tetanes-v"}
          cat tetanes.rb.tmpl | \
            sed "s/%VERSION%/${VERSION}/g" | \
            sed "s/%x86_64_SHA%/${x86_64_SHA}/g" | \
            sed "s/%aarch64_SHA%/${aarch64_SHA}/g" \
            > Casks/tetanes.rb
          echo "version=${VERSION}" >> "$GITHUB_OUTPUT"
      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          file_pattern: "*.rb"
          commit_message: Version Bump v${{ steps.commit.outputs.version }}
