---
name: Release PR

# yamllint disable-line rule:truthy
on:
  push:
    branches: [main]

permissions:
  pull-requests: write
  contents: write
  id-token: write

env:
  # Unnecessary for CI and just pollutes cache
  CARGO_INCREMENTAL: 0
  # Remove debug symbols, substantially reduces cache size
  CARGO_PROFILE_DEV_DEBUG: 0
  CARGO_PROFILE_TEST_DEBUG: 0
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1

jobs:
  release-pr:
    name: Release PR
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'lukexor' }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          # Required to trigger post-release workflows
          token: ${{ secrets.RELEASE_PLZ_TOKEN }}
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - run: |
          sudo apt update
          sudo apt install -y libudev-dev libasound2-dev
      - name: Run release
        uses: MarcoIeni/release-plz-action@v0.5
        env:
          # Required to trigger post-release workflows
          GITHUB_TOKEN: ${{ secrets.RELEASE_PLZ_TOKEN }}
